# Income Bracket 2020

In [1]:
# Dependencies
import requests
import pandas as pd
import matplotlib.pyplot as plt
from census import Census
import json

In [2]:
# Import U.S. Census API Key
from config import census_key

# Create an instance of the Census library
c = Census(
    census_key,
    year = 2020
)

In [3]:
# Run Census Search to retrieve data on all states (2016 ACS5 Census)
census_data = c.acs5.get(
    (
        "NAME",
        #"B19001_001E",
        #"B19001_002E",
        #"B19001_003E",
        #"B19001_004E",
        #"B19001_005E",
        #"B19001_006E",
        #"B19001_007E",
        #"B19001_008E",
        #"B19001_009E",
        #"B19001_010E",
        "B19001_011E",
        "B19001_012E",
        "B19001_013E",
        #"B19001_014E",
        #"B19001_015E",
        #"B19001_016E",
        #"B19001_017E"
    ),
    {'for': 'state:*'}
)

# Convert to DataFrame
Income_Bracket_2020 = pd.DataFrame(census_data)

# Column renaming
Income_Bracket_2020 = Income_Bracket_2020.rename(
    columns = {
        #"B19001_001E": "Household Income Total",
        #"B19001_002E": "Household Income Less than 10,000",
        #"B19001_003E": "Household Income 10,000 to 14,999",
        #"B19001_004E": "Household Income 15,000 to 19,999",
        #"B19001_005E": "Household Income 20,000 to 24,999",
        #"B19001_006E": "Household Income 25,000 to 29,999",
        #"B19001_007E": "Household Income 30,000 to 34,999",
        #"B19001_008E": "Household Income 35,000 to 39,999",
        #"B19001_009E": "Household Income 40,000 to 44,999",
        #"B19001_010E": "Household Income 45,000 to 49,999",
        "B19001_011E": "Household Income 50,000 to 59,999",
        "B19001_012E": "Household Income 60,000 to 74,999",
        "B19001_013E": "Household Income 75,000 to 99,999",
        #"B19001_014E": "Household Income 100,000 to 124,999",
        #"B19001_015E": "Household Income 125,000 to 149,999",
        #"B19001_016E": "Household Income 150,000 to 199,999",
        #"B19001_017E": "Household Income 200,000 or more",
        "NAME": "State"
    }
)

# Combine two Income Brackets to one column column
#Income_Bracket_2019["Household Income 10,000 to 49,999"] = (Income_Bracket_2019["Household Income 10,000 to 14,999"] + Income_Bracket_2019["Household Income 15,000 to 19,999"]
                                                        #   + Income_Bracket_2019["Household Income 20,000 to 24,999"] + Income_Bracket_2019["Household Income 25,000 to 29,999"]
                                                         #  + Income_Bracket_2019["Household Income 30,000 to 34,999"] + Income_Bracket_2019["Household Income 35,000 to 39,999"]
                                                          # + Income_Bracket_2019["Household Income 40,000 to 44,999"] + Income_Bracket_2019["Household Income 45,000 to 49,999"]) / 2
Income_Bracket_2020["Household Income 50,000 to 99,999"] = (Income_Bracket_2020["Household Income 50,000 to 59,999"] + Income_Bracket_2020["Household Income 60,000 to 74,999"]
                                                           + Income_Bracket_2020["Household Income 75,000 to 99,999"] ) / 2
#Income_Bracket_2019["Household Income 100,000 to 199,999"] = (Income_Bracket_2019["Household Income 100,000 to 124,999"] + Income_Bracket_2019["Household Income 125,000 to 149,999"]
                                                           # +Income_Bracket_2019["Household Income 150,000 to 199,999"] ) / 2

# Configure the final DataFrame
Income_Bracket_2020 = Income_Bracket_2020[
    [
        "State",
        #"Household Income Total",
        #"Household Income Less than 10,000",
       # "Household Income 10,000 to 49,999",
        "Household Income 50,000 to 99,999",
       # "Household Income 100,000 to 199,999",
        #"Household Income 200,000 or more"
    ]
]

# Display DataFrame length and sample data
print(f"Number of rows in the DataFrame: {len(Income_Bracket_2020)}")
Income_Bracket_2020

Number of rows in the DataFrame: 52

                   State  Household Income 50,000 to 99,999
0           Pennsylvania                           785149.5
1             California                          1811930.5
2          West Virginia                           108071.0
3                   Utah                           173545.0
4               New York                          1002883.5
5   District of Columbia                            33239.5
6                 Alaska                            41360.5
7                Florida                          1222185.5
8         South Carolina                           299567.0
9           North Dakota                            52625.5
10                 Maine                            91896.5
11               Georgia                           579759.0
12               Alabama                           276645.0
13         New Hampshire                            84052.5
14                Oregon                           258105.0
15               Wyoming                            38708.5
16               Arizona                           421274.0
17             Louisiana                           242484.0
18               Indiana                           425923.5
19                 Idaho                           110226.0
20           Connecticut                           191725.5
21                Hawaii                            69716.5
22              Illinois                           721729.5
23         Massachusetts                           342693.5
24                 Texas                          1491424.5
25               Montana                            69686.0
26              Nebraska                           127954.0
27                  Ohio                           741729.0
28              Colorado                           330872.5
29            New Jersey                           437417.0
30              Maryland                           314367.5
31              Virginia                           465128.5
32               Vermont                            42325.5
33        North Carolina                           616126.5
34              Arkansas                           175280.5
35            Washington                           445551.0
36                Kansas                           183900.5
37              Oklahoma                           231490.0
38             Wisconsin                           392616.5
39           Mississippi                           158632.5
40              Missouri                           384734.5
41              Michigan                           619415.0
42          Rhode Island                            60426.5
43             Minnesota                           347745.0
44                  Iowa                           212823.0
45            New Mexico                           116696.5
46                Nevada                           182140.0
47              Delaware                            58640.0
48           Puerto Rico                            87181.5
49              Kentucky                           264902.0
50          South Dakota                            58709.5
51             Tennessee                           407780.5

In [ ]:
selected_states = ["California", "Texas", "New York", "Florida", "Illinois"]
selected_bracket = Income_Bracket_2020[Income_Bracket_2020["State"].isin(selected_states)]
selected_bracket

In [ ]:
figure11 = selected_bracket.plot(kind="bar", color=["red", "blue"], figsize=(8,6),
                           title="Household Income Population",
                           xlabel="State",
                           ylabel="Median Income Population")

figure11.set_xticklabels(selected_bracket['State'], rotation=45, rotation_mode="anchor", ha="right", wrap=True)
plt.savefig("output_data/Fig11.png")
plt.show()

In [ ]:
line_plot = selected_bracket.loc[selected_bracket["Household Income 50,000 to 99,999"]]
x_axis = line_plot["State"]
y_axis = line_plot["Household Income 50,000 to 99,999"]

tumor_volume = plt.plot(x_axis, y_axis, marker="+", color="blue", linewidth =1, label="Timepoint")
plt.xlabel("State")
plt.ylabel("Household Income 50,000 to 99,999")
plt.show()